.header {
  padding: 1.5rem 0;

  &__content {
    @extend %content-width;
    @extend %flex-between;
  }

  &__logo {
    width: 40px;
    aspect-ratio: 1 / 1;
  }

  &__hamburger {
    z-index: 100;
  }

  &__hamburgerIcon {
    pointer-events: none;
  }

  @include breakpoint($m) {
    padding: unset;
    height: 96px;

    &__content {
      height: 100%;
    }
    &__logo {
      width: 48px;
    }

    &__hamburger {
      display: none;
    }
  }

  @include breakpoint($l) {
    padding-top: 40px;

    &__content {
      height: 96px;
    }
  }
}
