.crewpage {
  text-align: center;

  &__bg {
    width: 100%;
    height: 100vh;
    background-image: url("../images/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
  }

  &__content {
    @extend %content-width;
  }

  &__title {
    @extend %page-breadcrumb;
  }

  &__imgContainer {
    margin-top: 2rem;
    position: relative;
    height: 223px;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: lighten($dark-element, 10%);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__img {
    margin: 0 auto;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;

    &--show {
      opacity: 1;
    }
  }

  &__textContainer {
    margin: 2rem auto 0 auto;
    max-width: 460px;
  }

  &__btn {
    margin: 0 0.5rem;
    width: 0.625rem;
    aspect-ratio: 1 / 1;
    background-color: $white;
    border-radius: 100%;
    opacity: 18%;

    &--active {
      opacity: 1;
    }
  }

  &__h3 {
    margin-top: 2rem;
    @extend %title-bellefair;
    font-size: 1rem;
    opacity: 50%;
  }

  &__h2 {
    margin-top: 0.5rem;
    @extend %title-bellefair;
    font-size: 1.5rem;
  }

  &__p {
    margin-top: 1rem;
    color: $purple;
  }

  @include breakpoint($m) {
    &__bg {
      background-image: url("../images/crew/background-crew-tablet.jpg");
    }

    &__title {
      margin-top: 4.5rem;
      text-align: left;
      font-size: 1.25rem;
      letter-spacing: 3.38px;
    }

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__imgContainer {
      margin-top: 2.5rem;
      order: 2;
      height: 570px;

      &::after {
        display: none;
      }
    }

    &__textContainer {
      margin-top: 3.75rem;
      display: flex;
      flex-direction: column;
    }

    &__h3 {
      margin-top: unset;
      font-size: 1.5rem;
    }

    &__h2 {
      font-size: 2.5rem;
    }

    &__nav {
      margin-top: 2.5rem;
      order: 2;
    }
  }

  @include breakpoint($l) {
    text-align: left;

    &__bg {
      background-image: url("../images/crew/background-crew-desktop.jpg");
    }

    &__title {
      margin: 4.75rem 0 0 6.5rem;
      font-size: 1.75rem;
      letter-spacing: 4.72px;
    }

    &__container {
      flex-direction: row;
    }

    &__textContainer {
      margin: 9.625rem 0 0 6.5rem;
      width: 50%;
      max-width: unset;
    }

    &__h3 {
      font-size: 2rem;
    }

    &__h2 {
      font-size: 3.5rem;
    }

    &__p {
      max-width: 450px;
    }

    &__nav {
      margin-top: 7.5rem;
    }

    &__imgContainer {
      margin-top: unset;
      height: 610px;
    }
  }
}
