.destpage {
  text-align: center;

  &__bg {
    width: 100%;
    height: 100vh;
    background-image: url("../images/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
  }

  &__content {
    @extend %content-width;
  }

  &__title {
    @extend %page-breadcrumb;
  }

  &__imgContainer {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 170px;
  }

  &__img {
    height: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    opacity: 0;

    &--show {
      left: 0;
      right: 0;
      opacity: 1;
      margin: 0 auto;
      transition: opacity 0.5s ease-in-out;
    }
  }

  &__btnContainer {
    margin-top: 1.625rem;
  }

  &__btn {
    margin: 0 0.813rem;
    @extend %title-barlow-cond;
    color: $purple;
    font-size: 0.875rem;
    letter-spacing: 2.36px;
    position: relative;

    &:hover,
    &--active {
      cursor: pointer;
      color: $white;

      &::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: $white;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
      }
    }
  }

  &__text {
    margin: 1.5rem auto 0 auto;
    max-width: 570px;

    h2 {
      @extend %title-bellefair;
      font-size: 3.5rem;
    }

    p {
      margin-top: 0.5rem;
      color: $purple;
    }
  }

  &__divider {
    margin: 2rem auto 0 auto;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $dark-element;
  }

  &__stat {
    margin: 2rem 0;

    h3 {
      @extend %title-barlow-cond;
      font-size: 0.875rem;
      letter-spacing: 2.36px;
      color: $purple;
    }

    p {
      margin-top: 0.75rem;
      @extend %title-bellefair;
      font-size: 1.75rem;
    }
  }

  @include breakpoint($m) {
    &__bg {
      background-image: url("../images/destination/background-destination-tablet.jpg");
    }

    &__title {
      margin-top: 8.5rem;
      text-align: left;
      font-size: 1.25rem;
      letter-spacing: 3.38px;
    }

    &__imgContainer {
      margin-top: 3.75rem;
      height: 300px;
    }

    &__btnContainer {
      margin-top: 3.313rem;
    }

    &__btn {
      font-size: 1rem;
      letter-spacing: 2.7px;
    }

    &__text {
      margin-top: 2rem;

      h2 {
        font-size: 5rem;
      }
    }

    &__divider {
      margin-top: 3.063rem;
    }
  }

  @include breakpoint($l) {
    &__bg {
      background-image: url("../images/destination/background-destination-desktop.jpg");
    }

    &__title {
      margin: 4.75rem 0 0 6.5rem;
      font-size: 1.75rem;
      letter-spacing: 4.72px;
    }

    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    &__imgContainer {
      height: 445px;
      width: 445px;
    }

    &__btnText {
      width: 445px;
      text-align: left;
    }

    &__text {
      h2 {
        font-size: 6.25rem;
      }

      p {
        font-size: 1.125rem;
      }
    }

    &__statsContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__stat {
      margin-top: 1.75rem;
      &:last-of-type {
        margin-left: 4.938rem;
      }
    }

    &__divider {
      margin-top: 3.375rem;
    }
  }
}
