.home-bg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;

  @include breakpoint($m) {
    background-image: url("../images/home/background-home-tablet.jpg");
  }

  @include breakpoint($l) {
    background-image: url("../images/home/background-home-desktop.jpg");
  }
}

.homepage {
  @extend %flex-center;
  text-align: center;

  &__content {
    margin-top: 1.5rem;
    @extend %content-width;
    @extend %flex-center;
    flex-direction: column;
  }

  &__textContainer {
    margin: 0 auto;
    max-width: 450px;
  }

  &__title {
    @extend %title-barlow-cond;
    font-size: 1rem;
    color: $purple;
    letter-spacing: 2.7px;

    &--large {
      display: block;
      margin-top: 1rem;
      font-family: $bellefair;
      font-size: 5rem;
      color: $white;
    }
  }

  &__text {
    margin-top: 1rem;
    color: $purple;
  }

  &__btn {
    margin-top: 5rem;
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: $white;
    @extend %title-bellefair;
    font-size: 1.25rem;
    color: $dark-font;
  }

  @include breakpoint($m) {
    &__content {
      margin-top: 6.625rem;
      padding-bottom: 5.625rem;
    }

    &__title {
      font-size: 1.25rem;
      letter-spacing: 3.38px;

      &--large {
        font-size: 9.375rem;
      }
    }

    &__btn {
      margin-top: 9rem;
      width: 242px;
      font-size: 2rem;
      letter-spacing: 2px;
    }
  }

  @include breakpoint($l) {
    text-align: left;

    &__content {
      margin-top: 14rem;
      flex-direction: row;
      justify-content: space-around;
    }

    &__textContainer {
      margin: unset;
    }

    &__title {
      font-size: 1.75rem;
    }

    &__btn {
      margin-left: 5rem;
      width: 274px;
    }
  }
}
