.tecpage {
  text-align: center;

  &__bg {
    width: 100%;
    height: 100vh;
    background-image: url("../images/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
  }

  &__content {
    @extend %content-width;
  }

  &__title {
    @extend %page-breadcrumb;
  }

  &__imgContainer {
    margin-top: 2rem;
    display: grid;

    picture {
      grid-area: 1 / 1 / 1 / 1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    &[data-img="show"] {
      opacity: 1;
    }
  }

  &__nav {
    margin-top: 2.125rem;
  }

  &__btn {
    margin: 0 0.5rem;
    width: 40px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 100%;
    color: $white;
    font-family: $bellefair;
    font-size: 1rem;

    &[data-active="true"],
    &:hover {
      background-color: $white;
      color: $dark-font;
    }
  }

  &__textContainer {
    margin: 1.5rem auto 0 auto;
    padding-bottom: 5rem;
    max-width: 458px;
  }

  &__h3 {
    @extend %title-barlow-cond;
    letter-spacing: 2.4px;
    font-size: 0.875rem;
    color: $purple;
  }

  &__h2 {
    margin-top: 0.5rem;
    @extend %title-bellefair;
  }

  &__p {
    margin-top: 1rem;
    font-size: 0.938rem;
    color: $purple;
  }

  @include breakpoint($m) {
    &__bg {
      background-image: url("../images/technology/background-technology-tablet.jpg");
    }

    &__title {
      margin-top: 4.5rem;
      text-align: left;
      font-size: 1.25rem;
      letter-spacing: 3.38px;
    }

    &__imgContainer {
      margin-top: 3.75rem;
    }

    &__nav {
      margin-top: 3.5rem;
    }

    &__btn {
      width: 60px;
      font-size: 1.5rem;
    }

    &__textContainer {
      margin-top: 2.75rem;
    }

    &__h3 {
      font-size: 1rem;
    }

    &__h2 {
      margin-top: 1rem;
      font-size: 2.5rem;
    }

    &__p {
      font-size: 1rem;
    }
  }

  @include breakpoint($l) {
    text-align: left;
    &__bg {
      background-image: url("../images/technology/background-technology-desktop.jpg");
    }

    &__title {
      margin: 4.75rem 0 0 6.5rem;
      font-size: 1.75rem;
      letter-spacing: 4.72px;
    }

    &__container {
      display: flex;
    }

    &__imgContainer {
      margin-top: 1.625rem;
      order: 2;
    }

    &__img {
      width: 515px;
    }

    &__flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__nav {
      margin-top: unset;
      display: flex;
      flex-direction: column;
    }

    &__btn {
      width: 80px;
      margin: 1rem 0;
    }

    &__textContainer {
      margin: 0 0 0 5rem;
      padding-bottom: unset;
      width: 60%;
      max-width: 470px;
    }

    &__h2 {
      margin-top: 0.5rem;
      font-size: 3.5rem;
    }

    &__p {
      font-size: 1.125rem;
    }
  }
}
