%content-width {
  width: 90%;
  margin: 0 auto;
}

%flex {
  display: flex;
  align-items: center;
}

%flex-center {
  @extend %flex;
  justify-content: center;
}

%flex-between {
  @extend %flex;
  justify-content: space-between;
}

%title-basis {
  font-weight: 400;
  text-transform: uppercase;
}

%title-bellefair {
  @extend %title-basis;
  font-family: $bellefair;
}

%title-barlow-cond {
  @extend %title-basis;
  font-family: $barlow-condensed;
}
