$barlow: "Barlow", sans-serif;
$barlow-condensed: "Barlow Condensed", sans-serif;
$bellefair: "Bellefair", serif;

$m: 768px;
$l: 1440px;

$white: #ffffff;
$purple: #d0d6f9;
$dark-font: #0b0d17;
$dark-element: #383b4b;
